@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetOrderQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>@DataResource.OrderId</td>
                <td>@DataResource.Status</td>
                <td>@DataResource.Date</td>
                <td>@DataResource.ProductList</td>
                <td>@DataResource.FullName</td>
                
                
            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                    <tr>
                    <td colspan="5">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td>@(Html.When(JqueryBind.Click)
                            .Ajax(Url.Dispatcher()
                                .Query<AddOrEditOrderCommand.AsQuery>(new { Id = each.For(q => q.Id) })
                                .AsView("~/Views/Admin/Order/AddOrEdit.cshtml"))
                            .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                            .AsHtmlAttributes()
                            .ToLink(@<text>
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        @each.For(q => q.Id)
                                     </text>))</td>
                    <td>@each.For(q => q.Status)</td>
                    <td>@each.For(q=>q.OrderDate)</td>
                    <td>@each.For(q=>q.ProductList)</td>
                    <td>@each.For(q => q.Name)</td>
                </tr>
            }

            </tbody>
        </table>
    }
}