@using Everest.API
@using Everest.Domain
@using Incoding.Web.CQRS.Common.Query

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@section Body
{<div class="body d-flex-column">
        <div id="content-info" class="height-full section">
            <div class="carousel">
                <a class="prev btn" id="carousel-prev">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>
                <div class="d-flex overflow-x-hidden" id="carousel-container">
                    @Html.Dispatcher().AsViewFromQuery(new GetContentQuery(), "~/Views/App/Content/Tmpl.cshtml")
                </div>

                <a class="next btn" id="carousel-next">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </a>
            </div>
        </div>
        <div id="content-partners" class="d-flex-column gap-1 padding-1 section">
            <h1>
                @DataResource.Partners
            </h1>
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetPartnerQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Partners/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "partners-list", id = "content-partners" })
                .ToDiv())


        </div>
        <div id="content-products" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.Product
            </h1>

            <div class="d-flex-column">
               <div class="d-flex gap-05 padding-05">
                    @await Html.PartialAsync("~/Views/Shared/_FilterDropdown.cshtml",
                               Html.Dispatcher().Query(new GetCategoryForDDQuery(){Type = Category.OfType.Product}).Select(item => item.Text))
                    
                @*    @await Html.PartialAsync("~/Views/Shared/_DropDown.cshtml", new DropDownModel
       {
           Text = @DataResource.Category,
           Url = Url.Dispatcher().Query(new GetCategoryForDDQuery()).AsJson(),
           Template = "~/Views/Shared/DropDownItem_Tmpl.cshtml"
       })
                    
                  *@  
                    
                    
                    

                    
               </div>
                <div class="d-flex gap-1 padding-05">
                    <a class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </a>

                    @(Html.When(JqueryBind.InitIncoding)
                        .Ajax(new GetProductQuery( ))
                        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                        .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
                        .ToDiv())


                    <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </button>
                </div>
        @*        <div class="padding-05">
                    <div class="d-flex gap-05 margin-l-auto width-fit">
                        <button class="btn">Показать всё</button>
                        @* @(Html.When(JqueryBind.Click)
                                .Ajax(new GetProductQuery())
                                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                                .AsHtmlAttributes(new
                                {@class = "btn",
                                id = "products"

                            })
                            .ToButton(@<span><span class="btn"></span>@DataResource.P</span>))  
                </div>
          *@      
            </div>
        </div>
        <div id="content-contact" class="d-flex-column gap-1 padding-1 section">
            
                <div class="d-flex-column gap-1" style="width: 50%;">
                    <h1>
                        Остались вопросы?
                    </h1>

                    <div class="d-flex-column gap-1">
                        <span>
                            Позвоните по номеру +7 (000) 000-00-00 или напишите на почту mail@mail.com
                        </span>

                        <span>
                            Или оставьте свои контакты и мы с Вами свяжемся.
                        </span>
                    </div>
                </div>

                <div class="d-flex-column gap-1" style="width: 50%;">
                    <div class="width-half d-flex-column gap-1 padding-1 bg-white rounded">
                        <div class="textbox">
                            <label>
                                Как к вам обращаться?
                            </label>

                            <input type="text" placeholder="Имя">
                        </div>

                        <div class="textbox">
                            <label>
                                Как с вами связаться?
                            </label>

                            <input type="text" placeholder="Номер телефона, email">
                        </div>

                        <div class="textbox">
                            <label>
                                Дополнительная информация
                            </label>

                            <textarea rows="8" placeholder="Опишите подробнее вашу проблему"></textarea>
                        </div>

                        <button class="btn width-fit align-self-end">
                            <span class="material-symbols-outlined">
                                mail
                            </span>

                            <span>
                                Отправить запрос
                            </span>
                        </button>
                    </div>
                
            </div>


            @*     <div class="form-sing_left_title">Получите бесплатную консультацию</div>
            <div class="form-sing_left_desc">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            
                            <div class="form-sing_right">
                                <form class="send_mail_raba" onsubmit="yaCounter67865461.reachGoal('send-get-free'); gtag('event', 'formconsult_click', {'event_category': 'formconsult', 'event_action': 'click', }); return true;">
                                    <input type="hidden" name="titile" value="Получите бесплатную консультацию">
                                    
                                    <input type="text" name="name" placeholder="Ваше имя">
                                    <input type="tel" name="phone" id="" placeholder="Телефон">
                                    <div>
                                        <input type="checkbox" name="agreement_required" checked="checked" id="agreement-sing" class="agreement_required">
                                        <label for="agreement-sing" class="checked">
                                            Даю согласие на обработку персональных данных
                                        </label>
                                        <div class="btn">
                                            <button type="submit">
                                                Отправить                                   
                                            </button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="clickField" class="clickField" value="click_true"><input type="hidden" name="inputField" class="inputField" value="2GSI2FQJiD">
                                </form>
                            </div>
                        
                   
            
            

           @await Html.PartialAsync("~/Views/App/AnyQuestion/Index.cshtml")*@
        </div>
        <div id="content-about" class="d-flex-column gap-1 padding-1">
            @await Html.PartialAsync("~/Views/App/About/Index.cshtml")
         </div>
        <div id="content-peoples" class="d-flex-column gap-1 padding-1 section">
            @await Html.PartialAsync("~/Views/App/Employee/Index.cshtml")
        </div>
    </div>
}