@using Everest.API
@using Everest.Domain
@using Incoding.Web.CQRS.Common.Query

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@section Body
{<div class="body d-flex-column">
        <div id="content-info" class="height-full section">
            <div class="carousel">
                <a class="prev btn" id="carousel-prev">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>
                <div class="d-flex overflow-x-hidden" id="carousel-container">
                    @Html.Dispatcher().AsViewFromQuery(new GetContentQuery(), "~/Views/App/Content/Tmpl.cshtml")
                </div>

                <a class="next btn" id="carousel-next">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </a>
            </div>
        </div>
        <div id="content-partners" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.Partners
            </h1>
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetPartnerQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Partners/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "partners-list", id = "content-partners" })
                .ToDiv())


        </div>
        <div id="content-products" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.Product
            </h1>

            <div class="d-flex-column">
               <div class="d-flex gap-05 padding-05">
                    @await Html.PartialAsync("~/Views/Shared/_FilterDropdown.cshtml",
                               Html.Dispatcher().Query(new GetCategoryForDDQuery(){Type = Category.OfType.Product}).Select(item => item.Text))
                    
                @*    @await Html.PartialAsync("~/Views/Shared/_DropDown.cshtml", new DropDownModel
       {
           Text = @DataResource.Category,
           Url = Url.Dispatcher().Query(new GetCategoryForDDQuery()).AsJson(),
           Template = "~/Views/Shared/DropDownItem_Tmpl.cshtml"
       })
                    
                  *@  
                    
                    
                    

                    
               </div>
                <div class="d-flex gap-1 padding-05">
                    <a class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-left">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </a>

                    @(Html.When(JqueryBind.InitIncoding)
                        .Ajax(new GetProductQuery { Count = 10})
                        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                        .AsHtmlAttributes(new { @class = "d-flex gap-1 overflow-x-hidden", id = "products" })
                        .ToDiv())


                    <button class="btn width-2 height-10 padding-0 flex-shrink-0 justify-content-center margin-auto" id="products-right">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </button>
                </div>
        @*        <div class="padding-05">
                    <div class="d-flex gap-05 margin-l-auto width-fit">
                        <button class="btn">Показать всё</button>
                        @* @(Html.When(JqueryBind.Click)
                                .Ajax(new GetProductQuery())
                                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                                .AsHtmlAttributes(new
                                {@class = "btn",
                                id = "products"

                            })
                            .ToButton(@<span><span class="btn"></span>@DataResource.P</span>))  
                </div>
          *@      
                
                
                
                
                
                
                

            </div>
        </div>
        <div id="content-contact" class="d-flex-column gap-1 padding-1 section">
            <h1>
                Остались вопросы?
            </h1>

            <div class="d-flex-column gap-1">
                <span>
                    Позвоните по номеру +7 (000) 000-00-00 или напишите на почту mail@mail.com
                </span>

                <span>
                    Или оставьте свои контакты и мы с Вами свяжемся.
                </span>

                <form class="width-half d-flex-column gap-1 padding-1 bg-white rounded" id="content-contact-send" @*action="@Url.Dispatcher().Push(new SendEmailCommand())" method="POST"*@>
                    <div class="textbox">
                        <label for="name">@DataResource.FullName:</label>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="textbox">
                        <label for="contacts">@DataResource.Email:</label>
                        <input type="text" id="contacts" name="contacts" required>
                    </div>

                    <div class="textbox">
                        <label for="question">@DataResource.Question:</label>
                        <textarea id="question" name="question"></textarea>
                    </div>

                    @(Html.When(JqueryBind.Click)
                        .Ajax(Url.Dispatcher()
                            .Push(new SendQuestionCommand()
                            {
                                Contacts = Selector.Jquery.Name("contacts"),
                                Question = Selector.Jquery.Name("question"),
                                Name = Selector.Jquery.Name("name"),
                            }))
                        .AsHtmlAttributes(new { @class = "btn width-fit align-self-end", type = "submit" })
                        .ToButton(@<span><span class="material-symbols-outlined">mail</span>@DataResource.Send</span>))

                </form>
            </div>
        </div>
        <div id="content-about" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.About
            </h1>

            <div class="d-flex gap-1 about">
                <div class="d-flex-column gap-1 justify-content-between">
                    <span>
                        Здание построено по проекту архитектора А. Т. Тимофеева в 1901 году по мотивам московско-ярославского зодчества XVII века.
                        <br/>
                        <br/>
                        Здание двухэтажное, кирпичное, в плане в форме буквы Г, имеет круговой опоясыващий и завершающий карнизы с сухариками. В здании высокие крыши со слуховыми окнами, широкие балконы по фасаду. На первом этаже здания — полуциркульные окна. Архитектурные элементы здания выделяются жёлтым и красным цветом. Территория перед музеем благоустроена. Здание имеет пристройки.
                    </span>

                    <span>
                        @DataResource.Adress: Советская улица, 1, Камышин, Волгоградская область
                    </span>
                </div>

                <div class="d-flex-column gap-1">
                    <img class="image shadowed" src="resources/images/kamyshyn.png" alt="photo">

                    <img class="map shadowed" src="resources/images/map.png" alt="map">
                </div>
            </div>
        </div>
        <div id="content-peoples" class="d-flex-column gap-1 padding-1">
            <h1>
                @DataResource.Employee
            </h1>
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetEmployeesQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Employee/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "d-flex justify-content-center gap-1" })
                .ToDiv())
        </div>
    </div>
}