@using Everest.API
@using Everest.Domain
@using Incoding.Core
@using Incoding.Core.CQRS
@using Incoding.Web.CQRS.Common.Command
@using Incoding.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cartItems = Html.Dispatcher().Query(new GetCartItemsByCurrentUserQuery()).ToList();
    int numberOfItems = cartItems.Count;
}
@section Body {
    <div class="body d-flex-column gap-1">
        <h1>
            @DataResource.Cart
        </h1>

        <div class="d-flex gap-1 flex-shrink-0 bg-transparent">
            
                @(Html.When(JqueryBind.InitIncoding)
                    .Ajax(new GetCartItemsByCurrentUserQuery())
                    .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Cart/Tmpl.cshtml").Html())
                    .AsHtmlAttributes(new { @class = "d-flex flex-grow-1 gap-1 flex-wrap", id = nameof(GetCartItemsByCurrentUserQuery) })
                    .ToDiv())

            @if (numberOfItems > 0)
            {
                <div class="summary" id ="summary">
                    <h3>@DataResource.CheckoutOrder</h3>
                    <span>@DataResource.SelectProduct: @numberOfItems</span>
                        <div>
                            <label for="name">@DataResource.FullName:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="email">@DataResource.Email:</label>
                            <input type="text" id="email" name="email" required>
                        </div>
                        <div>
                            <label for="comment">@DataResource.Comment:</label>
                            <textarea id="comment" name="comment"></textarea>
                        </div>
                    @(Html.When(JqueryBind.Click)
                        .Ajax(new CloseCartCommand())
                        .OnSuccess(dsl =>
                                    {
                                        dsl.WithId(nameof(GetCartItemsByCurrentUserQuery)).Trigger.Incoding();
                                        dsl.WithId("summary").Trigger.Incoding();
                                    })
                      
                        .AsHtmlAttributes(new { @class = "btn align-self-center"})
                        .ToButton(@<span><span class="material-symbols-outlined">shopping_cart</span>@DataResource.Checkout</span>))
                </div>
            }
        </div>
    </div>


<script>
    function validateForm() {
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;

        if (name.trim() === '' || email.trim() === '') {
            alert('Please fill in all required fields.');
            return false; // Отмена отправки формы
        }
        return true; 
    }
</script>
}