@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetCartItemsByCurrentUserQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>@DataResource.Product</th>
                <th>@DataResource.Price</th>
                <th>@DataResource.Action</th>

            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="3">
                        @DataResource.AddToCart @DataResource.Product
                        </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td>
                        @each.For(q => q.Product)
                    </td>
                    <td>
                        @each.For(q => q.Price)
                    </td>
                    <td> @(Html.When(JqueryBind.Click)
                             .Ajax(Url.Dispatcher().Push<DeleteCartItemCommand>(new { Id = each.For(q => q.Id) }))
                             .OnBegin(dsl => dsl.Break.If(() => !Selector.JS.Confirm("Are you sure delete ?")))
                             .OnSuccess(dsl => dsl.WithId(nameof(GetCartItemsByCurrentUserQuery)).Trigger.Incoding())
                             .AsHtmlAttributes()
                             .ToLink(@<button type="submit" class="btn btn-sm btn-danger">
                                 @DataResource.DeleteFromCart
                              </button>))
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
}