@using Everest.Domain
@using Everest.API
@using (var template = Html.Incoding().Template<GetEmployeesQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }

    @using (var each = template.ForEach())
    {
        <div class="people">
            <img src="@(Url.Dispatcher().Query<GetAvatarEmployeeQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" />
            <span>
                @each.For(q => q.FullName)
            </span>

            <span>
                Должность
            </span>

            <a href="tel:@each.For(q => q.Phone)">
                <span class="material-symbols-outlined">
                    call
                </span>

                <span>
                    @each.For(q => q.Phone)
                </span>
            </a>

            <a href="@each.For(q => q.Email)">
                <span class="material-symbols-outlined">
                    mail
                </span>

                <span>
                    @each.For(q => q.Email)
                </span>
            </a>
        </div>
    }
}